<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config><add key="globalPackagesFolder" value=".superpowers/nuget" /></config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="partas-build" value="https://nuget.cloudsmith.io/shayanhabibi/shayanhabibi-partas-build/v3/index.json" />
    <add key="partas-local" value="site/feed" />
    <add key="partas-animejs" value="https://nuget.cloudsmith.io/shayanhabibi/partas-animejs/v3/index.json" />
    <add key="xantham" value="https://nuget.cloudsmith.io/shayanhabibi/xantham/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="partas-animejs"><package pattern="Partas.AnimeJs" /></packageSource>
    <packageSource key="xantham"><package pattern="Xantham.*" /></packageSource>
    <packageSource key="partas-build">
      <package pattern="Partas.Build" />
      <package pattern="Partas.Build.Cmd" />
      <package pattern="Partas.Build.Baked" />
    </packageSource>
    <packageSource key="partas-local">
      <package pattern="Partas.Solid" />
      <package pattern="Partas.Solid.FablePlugin" />
      <package pattern="Partas.Nacara.Plugins.Solid" />
    </packageSource>
    <packageSource key="feed0">
      <package pattern="Partas.Solid" />
      <package pattern="Partas.Solid.FablePlugin" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
